#top{
    margin-left: 300px;
    padding: 20px 0px 0px 20px;
    position: absolute;
    border-bottom: 1px solid lightgrey;
}

#bar{
    width: 30ox;
    height: 30px;
    margin-right: 10px;
}
#emoji{
    width: 30ox;
    height: 28px;
}
#query{
    width: 30ox;
    height: 30px;
    margin-left: 20px;
    border-left: 1px solid lightgrey;
}
#profile{
    width: 50ox;
    height: 50px;
    margin-top: -8px;
    margin-left: 10px;
}
#dropdown{
    background-color: #EFF4F5;
    margin-left: 530px;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    font-weight: bold;
    margin-right: 30px;
}

@media only screen and (max-device-width: 770px){
    #top{
        margin-left: 120px;
    }
    #query{
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }
    #profile{
        width: 35px;
        height: 35px;
        margin-left: 10px;
    }
    #dropdown{
        background-color: #EFF4F5;
        margin-left: 80px;
        border-radius: 10px;
        width: 80px;
        margin-right: 10px;
    }
}